certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
gevent==24.2.1
greenlet==3.0.3
idna==3.7
pycparser==2.22
requests==2.32.3
urllib3==2.2.2
websocket==0.2.1
websocket-client==1.8.0
zope.event==5.0
zope.interface==6.4.post2
